<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etnet.coresdk">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".SdkDemo">
        </activity>
    </application>

</manifest>